@import '../library/library';

main {
  flex: 1 0 auto;
  background-color: #fff;

  @include flex(flex-start, flex-start, column);

  .welcomeMsg {
    font-size: 1.2rem;
    color: theme-color(grey04);
    text-align: center;
    align-self: center;
    @include margin-y(10px, 20px);
  }

}